body{
background-color: hsl(275, 100%, 97%);
margin: 0px;
font-family: "Work Sans", sans-serif;
font-weight: 400;
font-size: 15px;
font-style: normal;
display: flex;
flex-direction: column;
align-items: center;
min-height: 100vh;

}
p{
color:   hsl(292, 16%, 49%);
display: none;
}
hr{
border: 1px solid  hsl(275, 100%, 97%);
}
/* banner is the background image on the page,.banner & .bannersize are different class for the styling*/
.banner{
width: 100%;
height: 250;
background-size: cover;
background-position: center;
}
.bannersize{
width: 100%;
height: 250px;
object-fit: cover;
}
/*.body contains style for the text/border*/
.body{
width: 90%;
margin: 0 auto 40px;
border: 1px solid hsl(0, 100%, 100%); 
background-color:  hsl(0, 100%, 100%);
border-radius: 10px;
padding: 20px;
position: relative;
max-width: 600px;
transform: translateY(-50px);
}


/*.first and #first both are for styling the h1
.second is for all h4*/
.first{
display: flex;
align-items: center;
gap: 20px;
margin-bottom: 20px;
}
#first{
font-weight: 700;
font-size: 2.5em;
}
.second{
font-weight: 600;
cursor: pointer;
}
/*.starimg and is for styling the star image*/
.starimg{
width: 25px;
}

/*.minusimg and .minus are for styling the minus image*/
.minusimg{
width: 18px;
}


/*.plusimg and .plus1,.plus2,.plus3 are for styling all the plus image respectively*/
.plusimg{
    width: 18px;
}


.plus-icon {
    display: block;
}
.minus-icon {
    display: none;
}

.faq-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq-item.expanded p {
    display: block;
}
.faq-item.expanded .plus-icon {
    display: none;
}
.faq-item.expanded .minus-icon {
    display: block;
}
<!-- Mobile responsiveness--> 

@media (max-width: 375px) {
  #first {
    font-size: 1.5em;
  }
  .second {
    font-size: 0.9em;
  }

  .icons {
    width: 20px;
    height: 20px;
  }

  .icon {
    width: 14px;
    height: 14px;
  }

}
<!— This is to make the h4 tag change color when the curser is hovered on it -->

H4: hover {
color: purple
}