body{
background-color: hsl(275, 100%, 97%);
margin: 0px;
font-family: "Work Sans", sans-serif;
font-weight: 400;
font-size: 15px;
font-style: normal;
display: flex;
flex-direction: column;
align-items: center;
min-height: 100vh;

}
p{
color:   hsl(292, 16%, 49%);
display: none;
}

hr{
border: 1px solid  hsl(275, 100%, 97%);
}
/* banner is the background image on the page,.banner & .bannersize are different class for the styling*/
.banner{
width: 100%;
height: auto;
background-size: cover;
background-position: center;
}
.bannersize{
width: 100%;
height: auto;
object-fit: cover;
}
/*.body contains style for the text/border*/
.body{
margin: 0 auto 40px;
border: 1px solid hsl(0, 100%, 100%); 
background-color:  hsl(0, 100%, 100%);
border-radius: 10px;
padding: 20px;
position: relative;
max-width: 60%;
transform: translateY(-50px);
}


/*.first and #first both are for styling the h1
.second is for all h4*/
.first{
display: flex;
align-items: center;
gap: 20px;
margin-bottom: 20px;
}
#first{
font-weight: 700;
font-size: 2.5em;
}
.second{
font-weight: 600;
cursor: pointer;
}
/*.starimg and is for styling the star image*/
.starimg{
max-width: 100%;
height: auto;
}

/*.minusimg and .minus are for styling the minus image*/
.minusimg{
max-width: 100%;
height: auto;
}


/*.plusimg and .plus1,.plus2,.plus3 are for styling all the plus image respectively*/
.plusimg{
max-width: 100%;
height: auto;
}


.plus-icon {
    display: block;
}
.minus-icon {
    display: none;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;   /* fixed container width */
  height: 24px;  /* fixed container height */
  position: relative;
  flex-shrink: 0;
   }

   .icon {
  width: 16px;       /* lock width */
  height: 16px;      /* lock height */
  object-fit: contain; /* keeps SVGs proportional */
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* perfect centering */
}

.faq-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    
}

.faq-item.expanded p {
    display: block;
}
.faq-item.expanded .plus-icon {
    display: none;
}
.faq-item.expanded .minus-icon {
    display: block;
}

<!-- Mobile responsiveness--> 

@media (max-width: 375px) {
  #first {
    font-size: 1.5em;
  }
  .second {
    font-size: 0.9em;
  }

  .icons {
    width: 20px;
    height: 20px;
  }

  .icon {
    width: 14px;
    height: 14px;
  }

}

<!— This is to make the h4 tag change color when the curser is hovered on it-->

H4: hover {
color: purple
}
